<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Project 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <main class="container-fluid">
        <header class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ccc !important;">
            <a class="navbar-brand" href="#">Project 3</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/best-seller}">Best Seller</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/}">All</a>
                        <a class="dropdown-item" th:each="cat : ${list}" th:utext="${cat.Name}"
                            th:href="@{'/'+${cat.CatagoryID}}"></a>
                    </div>
                </div>
                <form class="form-inline my-2 my-lg-0 mx-5" th:action="@{/search_vegetable}" method="post">
                    <input class="form-control mr-sm-2" type="search"  name="search_vegetable" placeholder="Search vegetable..."
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </header>
        <section>
            <h1 class="text-center my-2">List of Vegetable</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Vegetable ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Vegetable Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody style="text-transform: uppercase;">
                    <tr th:each="row, state:${data}">
                        <th scope="row" th:utext="${row.VegetableID}">...</th>
                        <td><img th:src="${row.Image}" width="50" height="50"></td>
                        <td th:utext="${row.VegetableName}">...</td>
                        <td th:utext="${row.CatagoryID}">...</td>
                        <td th:utext="${row.Unit}">...</td>
                        <td th:utext="${row.Amount}">...</td>
                        <td th:utext="${row.Price}">...</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>